body {
    font-family: 'Share Tech Mono', monospace;
    background-color: #000;
    color: #00ff00;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}


/* .header {
    background-color: #111;
    padding: 2px;
    text-align: center;
} */
.footer {
    background-color: #111;
    text-align: center;
    justify-content: space-between;

}
.containerFooter{
    display: flex;
    align-items: center;
    margin: 90px;
    padding-top: 19px;
    justify-content: space-around;
}
.disclaimer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    padding-left: 24px;
}
.title {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #00ff00;
}
.navigation{
    display: flex;
    background-color: #111;
    align-items: center;
    justify-content: space-between;
    padding-right: 271px;
    margin-top: -20px;
    border: 1px solid;
    border-radius: 22px;

}


.navigation ul {
    list-style-type: none;
    padding-left: 100px;
}

.navigation ul li {
    display: inline-block;
    margin: 0 30px;
}

.navigation ul li a {
    color: #00ff00;
    text-decoration: none;
    font-size: 1.2em;
}

.home-section, .about-section,.courses-section, .contact-section  {
    position: relative;
    text-align: center;
    height: 150vh;
    background-image: url('https://i.pinimg.com/originals/21/7d/a2/217da299cc918fad9b76eb99e4bb75b3.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00ff00;
}

/* Estilo para el texto verde con recuadro negro */
.highlighted-text {
    color: #00ff00;
    background-color: #000; /* Fondo negro para destacar */
    padding: 5px 10px; /* Añadir relleno alrededor del texto */
    border: 2px solid #89de0a; /* Borde verde para resaltar */
    border-radius: 23px;
    display: inline-block; /* Para que el texto tenga el efecto de recuadro */
    font-size: 1.2em; /* Tamaño del texto */
}
.highlighted-text1{
    color: #00ff00;
    background-color: #000; /* Fondo negro para destacar */
    padding: 5px 10px; /* Añadir relleno alrededor del texto */
    border: 2px solid #89de0a; /* Borde verde para resaltar */
    border-radius: 23px;
    display: inline-block; /* Para que el texto tenga el efecto de recuadro */
    font-size: 1.2em; /* Tamaño del texto */
}
.highlighted-text1:hover{
    background-color: #afc9d9;
    
}

/* Estilo del botón con hover */
.cta-button {
    background-color: #00ff00;
    color: #000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid #00ff00;
}

.cta-button:hover {
    background-color: #0081cc;
    color: #ac1212;
    border-color: #00cc00;
}

.about-section, .courses-section, .contact-section, .testimonials-section {
    padding: 50px 20px;
}


.course-carousel {
    display: flex;
    overflow-x: scroll;
}

